

<div class="container">

    <div class="row">

        <div class="col-3"></div>
        <div class="col-6">
            
            <a href="#" class="btn btn-outline-primary" (click)="activeWindow='bookList'">Book List</a>
            <a href="#" class="btn btn-outline-primary" (click)="activeWindow='addbook'">Add Book</a>

            <hr>
            <div *ngIf="activeWindow=='bookList'">
               <cBookList [bookList]="bookList" ></cBookList>
            </div>
            

            <hr>
            <div *ngIf="activeWindow=='addbook'">
                <cAddBook [bookList]="bookList" ></cAddBook>
            </div>


        </div>
        <div class="col-3"></div>
    </div>

</div>




